body{
   background: linear-gradient(180deg, #673ab7,#4800DEFF, #42B0FE);
}

.agus{
	width: 48px;
	height: auto;
	vertical-align: bottom;
	padding-bottom: 8px;
}
.background img{
  width: 100%;

}

.btnFolow{
	background-color: #450358FF;	
	}
.card-image{
	margin:5px;
	margin-left: 1em;
	padding-left: 1em;
	height: 300px;
	width: 80%;
	background-image: url(../img/music1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.videosBio{
	padding-left: 10em;
}
