*{
	padding: 0;
	margin:0;
}
body{
	background-color: #6B0494FC;
	color: #fff;
}

.nav-wrapper {
	background: linear-gradient(-5deg, #2576bd, #512da8, #01052a );
}

.purpleStyle {
	padding: 80px 0px;
	background: linear-gradient(180deg, #673ab7, #1e88e5 );
	text-align: center;
}

.deepPurpleStyle {
	padding: 80px 0px;
	background-color: #512da8;
	text-align: center;
}

.brand-logo img{
	width: 70%;
	padding: 5px 10px;
}

.bigTitle {
	font-size: 60px;
	text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}

.textHero {
	height: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.shadow {
	text-shadow: 1px 1px 15px #555;
}

i {
	padding: 0px 8px;
}

.carousel img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bigPlay {
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.bigPlay:hover {
	filter:saturate(2);
}

.bigPlay .imgs{
	position: relative;
}
.bigPlay img{
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.bigPlay a{
	position: absolute;

}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
 	background: purple;
  background-size: cover;
  transition: 1s opacity;
}

#pause {
	cursor: pointer;
	width: 140px;
	line-height: 30px;
}

#pause img {
	width: 25px;
	margin: 0px 10px;
}

.myBtn { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}

@media screen and (max-device-width: 800px) {
  html { background: url(../img/noah and the whale.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none;
  }

@media (min-width: 2000px) {
  .video-player--banner {
    /* (1600 - 800) / 2 = 400 */
    top: -400px;
    height: 1600px;
  }

}

.modal{
  color: #404040FF;
}

.card {
	text-align: left;
}

.card p{
	color: black;
}